<nav class="navbar" role="navigation" aria-label="main navigation">
<div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        {%if login %}
          <a class="button is-primary" href="/logout">
            <strong>Log out</strong>
          </a>
        {%else %}
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        {%endif %}
        </div>
      </div>
    </div>
</nav>