<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign up For Simple Social Media</h1>
    {% if taken %}
    <div> Username {{ username }} already taken! Pick a new username</div>
    {% endif %}
    <form action="/signup" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</body>
</html>